body {
	color: #3b3b3b;
	background-image: url("../img/cork.png");
	background-color: rgba(0,0,0,0.2);
	display: block;
}

@media screen and (min-width: 1024px){
	section#welcome {
		min-height: 980px;
	}
	.start {
    	float: right;
    	margin-right: 27% !important;
	}
}

#welcome h2 {
	padding: 5% 10%;
	font-size: 2.5em;
	font-weight: 300;
	line-height: 140%;
	font-size: 3em;
}

#welcome h2 span {
	color: #27496d;
}


.start {
    float: right;
    margin-right: 5%;
}

.start-button {
	font-family: 'Lato', Arial, sans-serif;
	font-weight: 100;
	text-transform: uppercase;

	-webkit-appearance: button;
    cursor: pointer;
    color: #fff;
    background-color: #27496d;
    border: none;
    display: inline-block;
    margin: 20px 10px 0 0;
    padding: 15px 25px;
    font-size: 24px;
    line-height: 1.8;
    vertical-align: bottom;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin: 0 auto;
}

@media screen and (max-width: 480px){
	section#welcome {
		max-height: 100%;
		min-height: 0;
	}
	.ac-custom ul, ul.website li {
   		margin-left: 0 !important;
	}
}

#questionnaire {
    padding-top: 3em;
}

#textbox {
    border: none;
    border-bottom: solid 2px #848484;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    transition: border 0.3s;
    /*background: rgba(255,255,255,0.4);*/
    background: transparent;
	width: 2em;
	text-align: center;
}

#textbox:focus {
	border-bottom: solid 2px #3b3b3b;
}

.italicized {
 	font-style: italic;
}

.header-list {
	list-style: disc;
}

.text-only{
	list-style: disc;
	font-size: 1.7em;
	font-weight: 300;
	padding-top: 20px !important;
	padding-bottom: 10px !important;
}

.list-circle {
	list-style: circle !important;
	margin-left: 2em;
	font-size: 1.7em;
	font-weight: 300;
	margin-top: 0;
}

.no-bottom-padding {
	padding-bottom: 0 !important;
}

ul.website li {
	margin-left: 4em;
}


.hr1 {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.hr2 { 
	height: 30px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0 0 0;
	border-radius: 20px;
} 

.hr2:before {
	display: block; content: ""; 
	height: 30px;
	margin-top: -30px;
	border-style: solid;
	border-color: black;
	border-width: 0 0 1px 0;
	border-radius: 20px;
}

.summary-h2{
	font-weight: 500 !important;
}

input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    color: #fff;
    background-color: #346392;
    border: none;
    display: inline-block;
    margin: 20px 10px 0 0;
    padding: 15px 25px;
    font-size: 24px;
    line-height: 1.8;
    vertical-align: bottom;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

input[type="submit"]:hover {
	background-color: #6496c8;
}

input[type="submit"]:active {
	background-color: #27496d;
}

/**Quotation Section**/
.q-col p {
	font-size: 2em;
	text-align: left;
}

.left {
	width: 50%;
	float: left;
	background: #aaa;
	padding: 4em;
}

.right {
	width: 50%;
	float: right;
	background: #ddd;
	padding: 4em;
}

.ac-custom {
	padding: 0 !important;
}

@media screen and (max-width: 680px) {
   .left, .right { 
    float: none;    
    width:auto; 
  }
}

.naahim-checklist li span {
	font-weight: 400 !important;
}
.sp-text {
	color: #27496d;
	font-weight: 400;
}
.sps-text {
	color: #27496d;
	font-weight: 600;
	text-decoration: underline;
}

.free-text {
	position: relative;
	top: -2px;
	border-bottom: solid #27496d 2px;
}

.twala-texts {
	font-family: 'Lato', Arial, sans-serif;
	font-size: 1.7em;
	font-weight: 300;
	line-height: 150%;
}

@media screen and (max-width: 1078px) {
	section#quotation { 
    	padding: 7em 3em;
	}
}

.closing-notes {
    background: rgba(111, 111, 111, 0.1);
    padding: 2em;
}

.more-info::after {
    content: '*';
    color: #27496d;
    font-family: Arial;
}